@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html::-webkit-scrollbar {
    border-radius: 10px;
    width: 5px;
    background-color: #A5CCDC;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #872592;
}

body {
    background-image: url('../Resources/black-galaxy.jpg');
    color: white;
}

.nav_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    background-image: url('../Resources/black-galaxy.jpg');
}

.logo {
    height: 60px;
    padding: 10px;
    /* margin-right: 5px; */
}

.name {
    color: white;
    font-family: 'Rowdies', cursive;
    font-size: 25px;
    margin-right: auto;
}

.toggle-btn {
    position: absolute;
    top: 30px;
    right: 1rem;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    width: 30px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

#nav_links li {
    display: inline-block;
    padding: 10px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#nav_links li:hover{
    cursor: pointer;
    color: #9296F0;
}

#contact-btn {
    margin-left: 0px;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-right: 5px;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
}

#contact-btn:hover {
    cursor: pointer;
    background-color: #946990;
}

a {
    text-decoration: none;
}

.main {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
}

h3 {
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
}

.toolbox {
    margin-bottom: 0;
    margin-left: 500px;
}

.return-btn {
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.return-btn:hover {
    background-color: rgb(36, 33, 33);
    color: white;
}

.footer-text {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
} 

a {
    text-decoration: none;
}

#youtube:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

#facebook:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

#instagram:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.copyright {
    font-family: 'Smooch Sans', sans-serif;
    text-align: center;
    opacity: 75%;
}

.credits {
    color: white;
    opacity: 50%;
}

/* Mobile Responsive */

@media only screen and (min-width: 320px) and (max-width: 428px) {

.nav_bar {

    /* background-image: none; */
    /* background-color: #82A0AA; */
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
    
}
    
.logo {
    align-self: flex-start;
    }
    
.name {

        position: relative;
        bottom: 75px;
        left: 85px;
}
    
.toggle-btn {
        display: flex;
}
    
#nav_links {
        display: none;
        width: 100%;
}
    
#nav_links li{
    /* background-color: #9296F0; */
        position: relative;
        bottom: 75px;
        text-align: center;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}
    
#home {
        right: 30px;
}
    
#media-gallery {
        right: 30px;
}

#contact-btn {
        position: relative;
        bottom: 85px;
        text-align: center;
        display: none;
}

.main {
    clear: both;
    position: relative;
    bottom: 75px;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 100px;
}

h3 {
    clear: both;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Lobster', cursive;
}

.toolbox {
    clear: both;
    position: relative;
    bottom: 75px;
    margin-top: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.footer-text {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer-icons {
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    display: flex;
    flex-direction: row;
}


}